Repository Pirates-of-Fife/oddity, pull requests merged in 2024-12, with the labels that each got.

#224 Updated Weapons Sizes
  Game/oddity/classes/module/module-size-class/ModuleSize.gd
Labels: feature, module

#227 #174-explosion
  Sounddesign/explosion/Reaper/Backups/explosion_aufbereitung_1-2024-12-27_121215.rpp-bak
  Sounddesign/explosion/Reaper/Backups/explosion_aufbereitung_1-2024-12-27_121217.rpp-bak
  Sounddesign/explosion/Reaper/Media/052167_huge-explosion-part-2-81247.mp3
  Sounddesign/explosion/Reaper/Media/explosion-detonation-94515.mp3
  Sounddesign/explosion/Reaper/Media/explosion-drop-6879.mp3
  Sounddesign/explosion/Reaper/Media/peaks/052167_huge-explosion-part-2-81247.mp3.reapeaks
  Sounddesign/explosion/Reaper/Media/peaks/explosion-detonation-94515.mp3.reapeaks
  Sounddesign/explosion/Reaper/Media/peaks/explosion-drop-6879.mp3.reapeaks
  Sounddesign/explosion/Reaper/explosion_aufbereitung_1.RPP
  Sounddesign/explosion/Sample/aufnahme/explosion1.wav
  Sounddesign/explosion/Sample/download/052167_huge-explosion-part-2-81247.mp3
  Sounddesign/explosion/Sample/download/explosion-detonation-94515.mp3
  Sounddesign/explosion/Sample/download/explosion-drop-6879.mp3
  Sounddesign/explosion/Sample/download/peaks/052167_huge-explosion-part-2-81247.mp3.reapeaks
  Sounddesign/explosion/Sample/download/peaks/explosion-detonation-94515.mp3.reapeaks
  Sounddesign/explosion/Sample/download/peaks/explosion-drop-6879.mp3.reapeaks
  Sounddesign/explosion/Sample/download/peaks/explosion1.wav.reapeaks
  Sounddesign/explosion/Sample/download/peaks/explosion2.wav.reapeaks
  Sounddesign/explosion/Sample/download/peaks/explosion3.wav.reapeaks
  Sounddesign/explosion/Sample/peaks/explosion1.wav.reapeaks
  Sounddesign/explosion/explosion1.wav
  Sounddesign/explosion/explosion2.wav
  Sounddesign/explosion/explosion3.wav
Labels: sound

#233 #172 shield hit sounds
  Sounddesign/Shield_hit/Reaper/Backups/shield_break-2024-12-28_121249.rpp-bak
  Sounddesign/Shield_hit/Reaper/Backups/shield_break-2024-12-28_121252.rpp-bak
  Sounddesign/Shield_hit/Reaper/Media/385051__mortisblack__shield.ogg
  Sounddesign/Shield_hit/Reaper/Media/465540__steaq__sci-fi-shield-hit-wav.wav
  Sounddesign/Shield_hit/Reaper/Media/465946__alterkartoffelsack__glass-breaking.wav
  Sounddesign/Shield_hit/Reaper/Media/peaks/385051__mortisblack__shield.ogg.reapeaks
  Sounddesign/Shield_hit/Reaper/Media/peaks/465540__steaq__sci-fi-shield-hit-wav.wav.reapeaks
  Sounddesign/Shield_hit/Reaper/Media/peaks/465946__alterkartoffelsack__glass-breaking.wav.reapeaks
  Sounddesign/Shield_hit/Reaper/Media/peaks/shield-guard-6963.mp3.reapeaks
  Sounddesign/Shield_hit/Reaper/Media/shield-guard-6963.mp3
  Sounddesign/Shield_hit/Reaper/shield_break.rpp
  Sounddesign/Shield_hit/Reaper/shield_hit.rpp
  Sounddesign/Shield_hit/Sample/385051__mortisblack__shield.ogg
  Sounddesign/Shield_hit/Sample/465540__steaq__sci-fi-shield-hit-wav.wav
  Sounddesign/Shield_hit/Sample/465946__alterkartoffelsack__glass-breaking.wav
  Sounddesign/Shield_hit/Sample/peaks/465946__alterkartoffelsack__glass-breaking.wav.reapeaks
  Sounddesign/Shield_hit/Sample/shield-guard-6963.mp3
  Sounddesign/Shield_hit/peaks/465540__steaq__sci-fi-shield-hit-wav.wav.reapeaks
  Sounddesign/Shield_hit/shield_break-002.wav
  Sounddesign/Shield_hit/shield_hit.wav
Labels: sound

#230 laser
  Sounddesign/laser_weapon/Reaper/Backups/laser_ausbereitung-2024-12-28_103806.rpp-bak
  Sounddesign/laser_weapon/Reaper/Backups/laser_ausbereitung-2024-12-28_104207.rpp-bak
  Sounddesign/laser_weapon/Reaper/Media/512469__michael_grinnell__laser-shot.wav
  Sounddesign/laser_weapon/Reaper/Media/peaks/512469__michael_grinnell__laser-shot.wav.reapeaks
  Sounddesign/laser_weapon/Reaper/laser_ausbereitung.rpp
  Sounddesign/laser_weapon/Sample/351429__kinoton__gun-laser-single-shot-sci-fi.wav
  Sounddesign/laser_weapon/Sample/440779__wcoltd__piplaser.wav
  Sounddesign/laser_weapon/Sample/512469__michael_grinnell__laser-shot.wav
  Sounddesign/laser_weapon/Sample/648142__andreas__laser-assault-weapon.mp3
  Sounddesign/laser_weapon/Sample/peaks/512469__michael_grinnell__laser-shot.wav.reapeaks
  Sounddesign/laser_weapon/laser_ausbereitung.wav
Labels: sound

#234 #175 ciws sounds
  Sounddesign/CIWS/Reaper/Backups/Ciws_shoot-2024-12-28_140027.rpp-bak
  Sounddesign/CIWS/Reaper/Ciws_shoot.rpp
  Sounddesign/CIWS/Reaper/Media/705391__chungus43a__machine-gun.mp3
  Sounddesign/CIWS/Reaper/Media/peaks/705391__chungus43a__machine-gun.mp3.reapeaks
  Sounddesign/CIWS/Sample/705391__chungus43a__machine-gun.mp3
  Sounddesign/CIWS/Sample/peaks/705391__chungus43a__machine-gun.mp3.reapeaks
  Sounddesign/CIWS/ciws_shot-001.wav
  Sounddesign/CIWS/ciws_single_shot.wav
Labels: sound

#238 191 super cruise and alcubierre drive module
  Game/oddity/classes/StarshipTravelModes.gd
  Game/oddity/classes/abyss/abyssal-portal/AbyssalPortal.tscn
  Game/oddity/classes/abyss/abyssal-tunnel/AbyssalTunnel.gd
  Game/oddity/classes/abyss/abyssal-tunnel/AbyssalTunnelMaterial.tres
  Game/oddity/classes/command/vehicle-commands/starship-commands/StarshipInitiateSuperCruiseCommand.gd
  Game/oddity/classes/controller/vehicle-controller/starship-controller/StarshipController.gd
  Game/oddity/classes/module/Module.gd
  Game/oddity/classes/module/module-slot/ModuleSlot.gd
  Game/oddity/classes/multi-function-display/super-cruise/SupercruiseMFD.tscn
  Game/oddity/classes/multi-function-display/super-cruise/SupercruiseMFD_3D.tscn
  Game/oddity/classes/multi-function-display/super-cruise/super_cruise_mfd.gd
  Game/oddity/classes/multi-function-display/super-cruise/super_cruise_mfd_3d.gd
  Game/oddity/classes/starship/Starship.gd
  Game/oddity/classes/starship/StarshipTravelModes.gd
  Game/oddity/project.godot
  Game/oddity/resources/classes/module/component/ComponentResource.gd
  Game/oddity/resources/classes/module/component/alcubierre-drive/AlcubierreDriveResource.gd
  Game/oddity/scenes/modules/test-module/Size2AbyssDrive.tscn
  Game/oddity/scenes/modules/test-module/Size2AlcubierreDrive.tres
  Game/oddity/scenes/modules/test-module/Size2AlcubierrreDrive.tscn
  Game/oddity/scenes/vehicles/starships/rabauke-shipworks/kestrel-mk-1/RABS_KestrelMk1.gd
  Game/oddity/scenes/vehicles/starships/rabauke-shipworks/kestrel-mk-1/RABS_KestrelMk1.tscn
  Game/oddity/scenes/vehicles/starships/rabauke-shipworks/kestrel-mk-1/resources/RABS_KestrelMk1_Thruster.tres
  Game/oddity/test-scenes/star-system-test-scene/Sta72BD.tmp
  Game/oddity/test-scenes/star-system-test-scene/StaAE12.tmp
  Game/oddity/test-scenes/star-system-test-scene/StaE86F.tmp
Labels: feature, flight model

#243 187 implement weapons and projectiles
  Game/oddity/classes/command/vehicle-commands/starship-commands/StarshipShootPrimaryCommand.gd
  Game/oddity/classes/command/vehicle-commands/starship-commands/StarshipShootSecondaryCommand.gd
  Game/oddity/classes/controller/vehicle-controller/starship-controller/StarshipController.gd
  Game/oddity/classes/game-entity/GameEntity.gd
  Game/oddity/classes/game-entity/static-game-entity/StaticGameEntity.gd
  Game/oddity/classes/module/module-size-class/ModuleSize.gd
  Game/oddity/classes/module/module-slot/ModuleSlot.gd
  Game/oddity/classes/module/module-slot/dynamic-module-slot/hardpoint/ExternalHardpoint.gd
  Game/oddity/classes/module/module-slot/dynamic-module-slot/hardpoint/Hardpoint.gd
  Game/oddity/classes/module/weapon/Weapon.gd
  Game/oddity/classes/player/player.tscn
  Game/oddity/classes/projectile/Projectile.gd
  Game/oddity/classes/starship/Starship.gd
  Game/oddity/classes/world/World.gd
  Game/oddity/default_bus_layout.tres
  Game/oddity/project.godot
  Game/oddity/resources/classes/module/component/weapon/WeaponResource.gd
  Game/oddity/resources/classes/projectile/ProjectileResource.gd
  Game/oddity/scenes/modules/test-module/Size5Weapon/LaserProjectile.tres
  Game/oddity/scenes/modules/test-module/Size5Weapon/LaserProjectile.tscn
  Game/oddity/scenes/modules/test-module/Size5Weapon/Size5Weapon.tscn
  Game/oddity/scenes/modules/test-module/Size5Weapon/Size5WeaponResource.tres
  Game/oddity/scenes/modules/test-module/Size5Weapon/laser_ausbereitung.wav
  Game/oddity/scenes/modules/test-module/Size5Weapon/laser_ausbereitung.wav.import
  Game/oddity/scenes/modules/test-module/Size6Weapon/LaserProjectile.tres
  Game/oddity/scenes/modules/test-module/Size6Weapon/LaserProjectile.tscn
  Game/oddity/scenes/modules/test-module/Size6Weapon/Size6Weapon.tscn
  Game/oddity/scenes/modules/test-module/Size6Weapon/Size6WeaponResource.tres
  Game/oddity/scenes/modules/test-module/Size6Weapon/laser_ausbereitung.wav
  Game/oddity/scenes/modules/test-module/Size6Weapon/laser_ausbereitung.wav.import
  Game/oddity/scenes/vehicles/starships/rabauke-shipworks/kestrel-mk-1/RABS_KestrelMk1.tscn
  Game/oddity/test-scenes/star-system-test-scene/StarSystemTestScene.tscn
  Game/oddity/ui/main-menu/MainMenu.tscn
  Game/oddity/ui/main-menu/main_menu.gd
  Lore/Hardpoints/Hardpoints.pdf
Labels: feature

#237 #176 hull collision sounds
  Sounddesign/hull_collision_sounds/Reaper/Backups/hull_collision_aufbereitung-2024-12-29_121026.rpp-bak
  Sounddesign/hull_collision_sounds/Reaper/Backups/hull_collision_aufbereitung-2024-12-29_133029.rpp-bak
  Sounddesign/hull_collision_sounds/Reaper/Backups/hull_collision_aufbereitung-2024-12-29_133033.rpp-bak
  Sounddesign/hull_collision_sounds/Reaper/Backups/hull_collision_aufbereitung-2024-12-29_133034.rpp-bak
  Sounddesign/hull_collision_sounds/Reaper/Media/653294__osvoldon__big-structure-collision-heard-from-inside.wav
  Sounddesign/hull_collision_sounds/Reaper/Media/67617__qubodup__metal-crash-collision.flac
  Sounddesign/hull_collision_sounds/Reaper/Media/metal-hit-sound-effect-241374.mp3
  Sounddesign/hull_collision_sounds/Reaper/Media/peaks/653294__osvoldon__big-structure-collision-heard-from-inside.wav.reapeaks
  Sounddesign/hull_collision_sounds/Reaper/Media/peaks/67617__qubodup__metal-crash-collision.flac.reapeaks
  Sounddesign/hull_collision_sounds/Reaper/Media/peaks/metal-hit-sound-effect-241374.mp3.reapeaks
  Sounddesign/hull_collision_sounds/Reaper/hull_collision_aufbereitung.rpp
  Sounddesign/hull_collision_sounds/Sample/653294__osvoldon__big-structure-collision-heard-from-inside.wav
  Sounddesign/hull_collision_sounds/Sample/67617__qubodup__metal-crash-collision.flac
  Sounddesign/hull_collision_sounds/Sample/metal-hit-sound-effect-241374.mp3
  Sounddesign/hull_collision_sounds/Sample/peaks/653294__osvoldon__big-structure-collision-heard-from-inside.wav.reapeaks
  Sounddesign/hull_collision_sounds/hull_collision_1.wav
  Sounddesign/hull_collision_sounds/hull_collision_2.wav
  Sounddesign/hull_collision_sounds/hull_collision_3.wav
Labels: sound
